
html{
  scroll-behavior: smooth !important;
}

body {
background: linear-gradient(-45deg, #414141, #000000);

}


#box-perf{
display: flex;
flex-direction: row;
}
#text-perf{
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
}

#perfil-img{
border-radius: 50%;
width: 250px;
height: 300px;
border: 20px solid #414141;
border-bottom-left-radius: 10px;
margin-right: 2px;
}


#carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
#prev-btn{
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}
#next-btn{
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  margin:5px;
}
#next-btn:hover{
  color: white;
  background-color: #414141;
  transform: scale(1.1);
}
#prev-btn:hover{
  color: white;
  background-color: #414141;
  transform: scale(1.1);
  margin:5px;
}
#project-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 350px;
  border-radius: 5px;
  background-color: #414141;
}
#lang-icon{
  width: 32px;
  height: 32px;
}
#prt-icon{
  width: 64px;
  height: 64px;
  margin-left: -15px;
  border-radius: 50%;
}
#lang-icon{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#title-prt{
  color:white;
  margin:15px;
}
#desc{
  color: white;
  margin:15px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}